
* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Indie Flower', cursive;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 15% 55% 10% 20%;
}

header {
    grid-column: 1 / 5;
    display: grid;
    justify-content: center;
    align-content: center;
    font-size: 5rem;
    background-color: white;
}

header p {
    border-bottom: 2px solid rgba(143, 182, 92, 0.342);
}

.gallow {
    grid-column: 1 / 5;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    /* background: url('img/autumn-972717_1920.jpg'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.gallow__pic {
    display: grid;
    align-content: flex-end;
}

.button {
    grid-column: 1 / 5;
    display: grid;
    align-content: center;
    justify-content: center;
}

button {
    height: 4rem;
    width: 10rem;
    border: none;
    cursor: pointer;
    background: rgba(143, 182, 92, 0.342);
    font-family: 'Indie Flower', cursive;
    font-size: 1.3rem;
    border-radius: 10px;
}

button:active {
    background: rgba(143, 182, 92, 0.63);
}

#gallow {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    height: 24rem;
    grid-column: 1 / 5;
    padding-left: 4rem;
}



.alphabet {
    grid-column: 1 / 5;
    font-size: 3rem;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat( auto-fit, minmax(3rem, 1fr) );
    padding: 0 2rem;
}

.alphabet span {
    cursor: pointer;
    border: 0.7px solid black;
    border-radius: 8px;
    margin: 0.2rem;
    display: grid;
    justify-content: center;
}

#guess {
    grid-column: 2 / 5;
    font-size: 2.5rem;
    display: grid;
    justify-content: center;
    align-content: flex-end;
    grid-template-columns: repeat( auto-fit, minmax(7rem, 7rem) );
    padding-bottom: 2rem;
}

#guess-won {
    grid-column: 2 / 5;
    font-size: 5rem;
    display: grid;
    justify-content: center;
    align-content: flex-end;
    grid-template-columns: repeat( auto-fit, minmax(15rem, 18rem) );
    padding-bottom: 2rem;
}



/* body {
    font-family: 'Indie Flower', cursive;
}

header {
    text-align: center;
    position: relative;
}

#guess {
    display: inline;
    position: absolute;
    top: 690px;
    left: 800px;
}

p {
    display: inline;
    font-size: 90px;

}

.alphabet span {
    font-size: 35px;
    margin: 5px;
    border-style: solid;
    border-radius: 10px;
    padding: 7px;
    display: inline-block;
}

.alphabet {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

#gallow {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

span {
    cursor: pointer;
    visibility: hidden;
}

button {
    font-size: 30px;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    margin: 10px;
    border-style: black solid 2px;
    border-radius: 10px;
    box-shadow: none;
    outline: none;
    position: absolute;
    top: 400px;
    left: 800px;
}

.headSize {
    height: 600px;
    width: 500px;
}

.man {
    position: absolute;
    left: 450px;
    top: 270px;

}

button::-moz-focus-inner {
    border: 0;
  } */
  
  

